body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

p {
    font-size: medium;
}

.folder {
    position: relative;
    width: 40rem;
    height: 60rem;
    background-color: #ffd700;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: visible;
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: transform 1s ease;
}

.cover {
    position: absolute;
    top: 0;
    right: 0;
    width: 40rem;
    height: 60rem;
    background-color: #ffd700;
    border:2px solid #ffd700;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform 1s ease;
    pointer-events: auto;
    z-index: 1;
    transform-origin: center left;
}

.cover:hover{
    box-shadow: 0 0 10px rgba(28, 19, 19, 0.952), 0 0 20px rgba(246, 168, 168, 0.76), 0 0 60px rgb(255, 255, 255);
}

#report{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    max-width: 60rem;
    max-height: 20rem;
}

#stamp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    max-width: 150rem;
    max-height: 30rem;
    opacity: 60%;
}

#serial{
    position: absolute;
    top: 95%;
    left: 88%;
    transform: translate(-50%, -10%);
    max-width: 10rem;
    max-height: 3.5rem;
}

.paper {
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-40%, -50%);
    width: 33rem;
    height: 50rem;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    z-index: 2;
}

.paper2 {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-40%, -50%) rotate(2deg);
    width: 33rem;
    height: 50rem;
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
    padding: 20px;
    z-index: 1;
}

.post-it {
    position: absolute;
    font-weight: bold;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 88%;
    left: 88%;
    transform: translate(-50%, -50%) rotate(1deg);
    min-width: 8rem;
    min-height: 8rem;
    background-image: linear-gradient(135deg, #61c3a6, #b3e6d1);
    border-radius: 0.3rem;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.post-it2 {
    position: absolute;
    font-weight: bold;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 91%;
    left: 13%;
    transform: translate(-50%, -50%) rotate(1deg);
    min-width: 3rem;
    min-height: 3rem;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    z-index: 2;
}

#post-it:hover {
    box-shadow: 0 0 10px rgba(251, 251, 251, 0.952), 0 0 20px rgba(223, 169, 169, 0.76), 0 0 30px rgb(0, 0, 0);
}

.image-container {
    position: absolute;
    top: 5%;
    left: 1%;
    width: 15rem;
    height: 15rem;
    border: 3rem;
    border-color: whitesmoke;
    box-shadow: 0 0.1rem 1rem rgba(1, 1, 1, 0.7);
    transition: opacity 0.3s ease;
    opacity: 0;
}

.image-container img {
    border-radius: 0.3rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.personal-data {
    position: absolute;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.8rem;
    top: 45%;
    left: 1%;
    width: 25rem;
    height: 25rem;
    font-weight: bold;
    background-color: rgba(134, 134, 244, 0.87);
    box-shadow: 0 0.1rem 1rem rgba(1, 1, 1, 0.7);
    transition: opacity 0.3s ease;
    opacity: 0;
}

.contact {
    position: absolute;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.95rem;
    text-align: left;
    top: 5%;
    left: 25%;
    width: 18rem;
    height: 15rem;
    font-weight: bold;
    background-color: rgba(134, 134, 244, 0.87);
    box-shadow: 0 0.1rem 1rem rgba(1, 1, 1, 0.7);
    transition: opacity 0.3s ease;
    opacity: 0;
}

.celofan {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 13rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.233);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.541);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.celofan2 {
    position: absolute;
    top: 40%;
    left: 3%;
    width: 23rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.233);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.541);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.celofan3 {
    position: absolute;
    top: 1.4%;
    left: 28%;
    width: 15rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.233);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.541);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.project:nth-child(even) .project-image {
    margin-right: 0;
    margin-left: 0.5rem;
}

.project .project-image {
    width: 20rem;
    height: 11rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin-right: 0.5rem;
    position: relative;
    overflow: hidden;
    position: relative;
}

.project .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.5rem;
}

.project .project-details {
    flex: 1;
    padding: 0.5rem;
    box-sizing: border-box;
}

.folder.open {
    width: 80rem;
}

.folder.open .cover {
    opacity: 0;
}

.folder.open .paper {
    opacity: 1;
}
.folder.open .paper2 {
    opacity: 1;
}

.folder.open .image-container {
    opacity: 1;
}

.folder.open .personal-data {
    opacity: 1;
}

.folder.open .contact {
    opacity: 1;
}
.folder.open .celofan {
    opacity: 1;
}

.folder.open .celofan2 {
    opacity: 1;
}
.folder.open .celofan3 {
    opacity: 1;
}

.paper.page {
    left: 28%;
    z-index: 1;
}

.paper.page .paper2 {
    z-index: 2;
}

.paper.page .post-it {
    left: 22%;
    transform: translate(-50%, -50%) rotate(10deg);
    width: 8rem;
    height: 8rem;
}

@media (width <= 1200px){
}

















